:root {
  --naranja: #df8130;
  --blanco: #ffffff;
  --blanco-trans: #fffefe31;
  --fondo: #ffeeee;
  --negro: #020000;
  --morado: #82699d;
  --morado-claro: #e2b7ff;
  --salmon: #f4c9ad;
  --rosa: #fde8e4;
  --negro-claro: #444444;
  --rojo: #e74c3c;
  --verde: #3bb371;
  --sombra-btn: #308630;  
  --anaranjado:  #FF4B2B; 
  --fusia: #FF416C;
  --amarillo: #ffe13a;
  --verde-claro: #91ddb3;
}